.register {
    text-align: center;
    display: block;
    width: 100% !important;
    background-image: url('../../img/background.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 1000px;
    padding: 100px 0;

    .container {

        form {
            background-color: $bg-c1-color;
            padding: 50px;
            border-radius: 20px;

            h2 {
                color: $text-c3-color;
                font-size: 40px;
                font-weight: 700;
            }

            .row {
                margin-top: 50px;
                @media screen and (max-width: 576px) {
                    flex-direction: column-reverse;
                }

                .col-6 {
                    padding: 30px;
                    @media screen and (max-width: 576px) {
                        width: 100%;
                        padding: 0;
                    }
                    .form-group {
                        margin-bottom: 30px;

                        p {
                            text-align: left;
                            margin: 0;
                        }
                    }
                    a {
                        text-align: left;
                        display: block;
                    }
                }
            }

            .form-group {
                @media screen and (max-width: 576px) {
                    margin-bottom: 15px;
                }


                .btnSignup {
                    @include btnSignup;
                    transition: 0.5s;

                    &:hover {
                        background-position: right;
                    }
                }

            }
        }
    }
}