.ant-modal-body {

    .form {
        .form-group {
            margin-bottom: 10px;
        }

        .row__assignees {

            .col-6 {
                margin-bottom: 10px;
                width: 100%;

                .form-group {

                    .row {

                        .col-6 {
                            width: 50%;
                        }
                    }
                }
            }
        }
    }
}