@import '../themes/variable';

.ant-layout {
    .ant-layout-sider {
        .ant-layout-sider-children {
            .ant-menu {

                .imgLabel {
                    height: 115px;
                    padding: 0 !important;
                    padding-left: 10px !important;
                    .logo__text {
                        h2 {
                            font-size: 21px;
                        }
                        span {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}