$text-c1-color: #000000;
$text-c2-color: #ffffff;
$text-c3-color: #333;
$text-c4-color: #c7c7c7;
$text-c5-color: rgb(94, 108, 132);





$bg-c1-color: #fafafa;
$bg-c2-color: #c7c7c7;
$bg-c3-color: #e3f2fd;
$bg-c4-color: #66bb6a;
$bg-c5-color: #0069c0;
$bg-c6-color: #1976d2;
$bg-c7-color: #cfd8dc;
$bg-c8-color: rgba(243,244,246,var(--tw-bg-opacity));


@mixin btnSignup {
    background: -webkit-linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
    padding: 15px 60px;
    background-position: center;
    background-size: 200%;
    background-repeat: no-repeat;
    border: none;
    color: $text-c2-color;
    text-transform: uppercase;
    border-radius: 10px;
}