@import './assests/scss/templates/firsttemplate';
@import './assests/scss/templates/secondtemplate';
@import './assests/scss/pages/register';
@import './assests/scss/pages/login';
@import './assests/scss/pages/home';
@import './assests/scss/pages/project';
@import './assests/scss/components/headermobile';
@import './assests/scss/components/_header';




* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.ant-modal-footer {
    display: none;
}

p {
    margin: 0 !important;
}
